<hr />
<ul>
<% @board.lists.each do |list|%>
<li><%= list.name %></li>
<ul>
<li><%= link_to "Edit Name", edit_board_list_path(@board, list) %></li>
<li><%= link_to "Add Task", new_list_task_path(list)%>
<% list.tasks.each do |task|%>
<li><%= "#{task.priority} - "%><%= link_to task.bullet, list_task_path(list, task) %>
<%= link_to "edit", edit_list_task_path(list, task)%>
</li>

<% end %>
</ul>
<% end %>
</ul>