
<h2> <%= @board.name %></h2>
<hr />

<%= link_to 'Edit Board', edit_board_path(@board) %>
<br />
<%= link_to 'Delete board', @board, method: :delete %>
<br></br>
<i class= "plus icon"></i><%= link_to  'List', new_board_list_path(@board) %>
<br />

  <%= render partial: '/lists/list'%>

